.header {
    background-color: var(--grey-700);
    display: flex;
    justify-content: center;
    padding: 2rem;
    object-fit: cover;

}

.logo{
    width: 126px;
height: 48px;
left: 657px;
top: 72px;
}
